{{!< layout}}
<div class="aui-dialog2-content">
  <div class="aui-message aui-message-success">
    <p class="title">
        <strong>Hello from your custom report!</strong>
    </p>
    <p>You can add anything you want here; you have full control over the content.</p>
</div>
</div>